<?xml version="1.0"?>
<launch>
    <!-- Run starbot compatible 3dsensor drivers. Takes reference from env var STARBOT3DSENSOR. ie. export STARBOT3DSENSOR=kinect -->
    <include file="$(find starrobot_bringup)/launch/include/3dsensor/$(env STARBOT3DSENSOR).launch" />

    <!-- Publish static transform of the laser. Define your sensor offset here -->

<!--
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser" args="0.0 0 0.05 0 0 0  /base_link /laser"/>
-->

</launch>


