<?xml version="1.0"?>
<launch>

  <!--<param name="/use_sim_time" value="false" />-->

  <node name="cartographer_node" pkg="starrobot"
      type="cartographer_node" args="
          -configuration_directory $(find starrobot_slam)/config 
          -configuration_basename starrobot_lidar_2d.lua"
      output="screen">
    <remap from="scan" to="/scan" />
  </node>

  <node name="flat_world_imu_node" pkg="cartographer_turtlebot"
      type="cartographer_flat_world_imu_node" output="screen">
    <remap from="imu_in" to="/imu/data" />
    <remap from="imu_out" to="/imu" />
</node>

  <node name="cartographer_occupancy_grid_node" pkg="starrobot"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

 <!-- AMCL -->
  <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <include file="$(find starrobot_nav)/launch/include/amcl/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Move base -->
  <include file="$(find starrobot_nav)/launch/include/move_base/move_base_$(env STARROBOTBASE).launch" />

</launch>
